body {
    padding: 1em;
    padding-top: 4em;
    text-align: center;
}

.ui.action.input input[type="file"] {
    display: none;
}
.fields {
    justify-content: center;
}
.ui.form {
    margin-bottom: 3em;
}
h1 {
    margin-bottom: 3em;
}
